:root {
	--rem-base: 10px;
	--base-font-size: 16px;
	--base-line-height: 1.2;
	--vertical-rhythm: calc(var(--base-line-height) * 1em);
	--brand-color: #1d2130;
	--brand-color-dark: black;
	--brand-color-light: #3a4260;
	--accent-color: #70c174;
	--accent-color-dark: #459f4a;
	--accent-color-light: #459f4a;
	--base-text-color: var(--secondary-text);
	--base-link-color: var(--brand-color);
	--h1-h6-color: var(--primary-text);
	--animation-duration: 0.3s;
	--animation-timing-function: ease;
	--input-x: 32px;
	--gutter: 20px;
	--input-color: transparent;
	--input-placeholder-color: rgba(51, 51, 51, 0);
	--input-bg-color: white;
	--input-radius: 4px;
	--input-border-color: #e5e5e5;
	--input-focus-border-color: #c4c4c4;
	--form-theme-color: #1d2130;
	--checkbox-size: 18px;
	--radio-size: 18px;
	--label-fz: 12px;
	--label-color: #1d2130;
	--error-color: #e04562;
	--error-bg-color: #fadee3;
	--form-col-gutter: 15px;
	--form-row-margin: 22.5px;
	--h1: 5.6rem;
	--h2: 4.8rem;
	--h3: 2.8rem;
	--h4: 2rem;
	--h5: 14px;
	--h6: 12px;
	--btn-y: 16px;
	--btn-x: 32px;
	--btn-b: 2px;
	--btn-r: 4px;
	--btn-fz: 16px;
}
@media (max-width: 768px) {
	:root {
		--h1: 3rem;
		--h2: 2.6rem;
		--h3: 2.2rem;
		--h4: 18px;
		--h5: 14px;
		--h6: 12px;
	}
}
@media (max-width: 667px) {
	:root {
		--btn-y: 1.6rem;
		--btn-x: 3.2rem;
		--btn-b: 2px;
		--btn-r: 4px;
		--btn-fz: 14px;
	}
}
@media (min-width: 812px) and (max-height: 414px) and (orientation: landscape) {
	:root {
		--gutter: 50px;
	}
}
